<?xml version="1.0"?>
<robot name="orange_left">
  <link name="body">
    <visual>
      <origin xyz="0 0 0" rpy="1.57079632679 0 0"/>
      <geometry>
        <mesh filename="./meshes/orange_left.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.57079632679 0 0"/>
      <geometry>
        <mesh filename="./meshes/orange_left.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0.01" ixy="0.0" ixz="0.0"
              iyy="0.01" iyz="0.0" izz="0.01"/>
    </inertial>
  </link>
</robot>
