<?xml version="1.0"?>
<robot name="greenhouse">

  <material name="transparent_white">
    <color rgba="1.0 1.0 1.0 0.4"/>
  </material>

  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="1.57079632679 0 0"/>
      <geometry>
        <mesh filename="./meshes/greenhouse_floor.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.57079632679 0 0"/>
      <geometry>
        <mesh filename="./meshes/greenhouse_floor.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="10.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0"
              iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
  </link>

  <link name="front_link">
    <visual>
      <origin xyz="0 0 0" rpy="1.57079632679 0 0"/>
      <geometry>
        <mesh filename="./meshes/greenhouse_front.obj" scale="1 1 1"/>
      </geometry>
      <material name="transparent_white"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.57079632679 0 0"/>
      <geometry>
        <mesh filename="./meshes/greenhouse_front.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0"/>
      <inertia ixx="0.1" ixy="0.0" ixz="0.0"
              iyy="0.1" iyz="0.0" izz="0.1"/>
    </inertial>
  </link>

  <link name="back_link">
    <visual>
      <origin xyz="0 0 0" rpy="1.57079632679 0 0"/>
      <geometry>
        <mesh filename="./meshes/greenhouse_back.obj" scale="1 1 1"/>
      </geometry>
      <material name="transparent_white"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.57079632679 0 0"/>
      <geometry>
        <mesh filename="./meshes/greenhouse_back.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0"/>
      <inertia ixx="0.1" ixy="0.0" ixz="0.0"
              iyy="0.1" iyz="0.0" izz="0.1"/>
    </inertial>
  </link>

  <link name="grass_link">
    <visual>
      <origin xyz="0 0 0" rpy="1.57079632679 0 0"/>
      <geometry>
        <mesh filename="./meshes/greenhouse_grass.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.57079632679 0 0"/>
      <geometry>
        <mesh filename="./meshes/greenhouse_grass.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0"/>
      <inertia ixx="0.1" ixy="0.0" ixz="0.0"
              iyy="0.1" iyz="0.0" izz="0.1"/>
    </inertial>
  </link>

  <link name="pathway_link">
    <visual>
      <origin xyz="0 0 0" rpy="1.57079632679 0 0"/>
      <geometry>
        <mesh filename="./meshes/greenhouse_pathway.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.57079632679 0 0"/>
      <geometry>
        <mesh filename="./meshes/greenhouse_pathway.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0"/>
      <inertia ixx="0.1" ixy="0.0" ixz="0.0"
              iyy="0.1" iyz="0.0" izz="0.1"/>
    </inertial>
  </link>

  <link name="stems_link">
    <visual>
      <origin xyz="0 0 0" rpy="1.57079632679 0 0"/>
      <geometry>
        <mesh filename="./meshes/greenhouse_stems.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.57079632679 0 0"/>
      <geometry>
        <mesh filename="./meshes/greenhouse_stems.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0"/>
      <inertia ixx="0.1" ixy="0.0" ixz="0.0"
              iyy="0.1" iyz="0.0" izz="0.1"/>
    </inertial>
  </link>

  <link name="orange_stem">
    <visual>
      <origin xyz="0 0 0" rpy="1.57079632679 0 0"/>
      <geometry>
        <mesh filename="./meshes/orange_stem.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.57079632679 0 0"/>
      <geometry>
        <mesh filename="./meshes/orange_stem.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0"/>
      <inertia ixx="0.1" ixy="0.0" ixz="0.0"
              iyy="0.1" iyz="0.0" izz="0.1"/>
    </inertial>
  </link>

  <link name="curve_top_link">
    <visual>
      <origin xyz="0 0 0" rpy="1.57079632679 0 0"/>
      <geometry>
        <mesh filename="./meshes/greenhouse_top_curve.obj" scale="1 1 1"/>
      </geometry>
      <material name="transparent_white"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.57079632679 0 0"/>
      <geometry>
        <mesh filename="./meshes/greenhouse_top_curve.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0"/>
      <inertia ixx="0.1" ixy="0.0" ixz="0.0"
              iyy="0.1" iyz="0.0" izz="0.1"/>
    </inertial>
  </link>

  <link name="top_support_link">
    <visual>
      <origin xyz="0 0 0" rpy="1.57079632679 0 0"/>
      <geometry>
        <mesh filename="./meshes/greenhouse_top_support.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.57079632679 0 0"/>
      <geometry>
        <mesh filename="./meshes/greenhouse_top_support.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0"/>
      <inertia ixx="0.1" ixy="0.0" ixz="0.0"
              iyy="0.1" iyz="0.0" izz="0.1"/>
    </inertial>
  </link>

  <link name="door_link">
    <visual>
      <origin xyz="0 0 0" rpy="1.57079632679 0 0"/>
      <geometry>
        <mesh filename="./meshes/greenhouse_door.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.57079632679 0 0"/>
      <geometry>
        <mesh filename="./meshes/greenhouse_door.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0"/>
      <inertia ixx="0.1" ixy="0.0" ixz="0.0"
              iyy="0.1" iyz="0.0" izz="0.1"/>
    </inertial>
  </link>

  <!-- Fixed joints from base_link to the panels -->
  <joint name="base_to_front" type="fixed">
    <parent link="base_link"/>
    <child  link="front_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <joint name="base_to_back" type="fixed">
    <parent link="base_link"/>
    <child  link="back_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <joint name="base_to_grass" type="fixed">
    <parent link="base_link"/>
    <child  link="grass_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <joint name="base_to_pathway" type="fixed">
    <parent link="base_link"/>
    <child  link="pathway_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <joint name="base_to_stems" type="fixed">
    <parent link="base_link"/>
    <child  link="stems_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <joint name="base_to_curve_top" type="fixed">
    <parent link="base_link"/>
    <child  link="curve_top_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <joint name="base_to_top_support" type="fixed">
    <parent link="base_link"/>
    <child  link="top_support_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <joint name="base_to_orange_stem" type="fixed">
    <parent link="base_link"/>
    <child  link="orange_stem"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <joint name="base_to_door" type="fixed">
    <parent link="base_link"/>
    <child  link="door_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

</robot>
